In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.display import clear_output
from sqlalchemy import create_engine
%matplotlib inline

In [24]:
engine = create_engine("mysql+mysqlconnector://root:cinta1malam@localhost/ujian_pwdk2?host=localhost?port=3306")
conn = engine.connect()

In [34]:
def panggil(q):
    results = conn.execute(q).fetchall()
    df1 = pd.DataFrame(results)
#     df1.columns = results[0].keys()
#     df1.set_index('id', inplace=True)
    return df1

In [35]:
q = '''SELECT * FROM datasets'''

In [36]:
p = """
SELECT TABLE_NAME 
FROM INFORMATION_SCHEMA.TABLES
WHERE TABLE_TYPE = 'BASE TABLE' AND TABLE_SCHEMA='dbName'
"""

In [37]:
df = panggil(p)

In [38]:
df

Empty DataFrame
Columns: []
Index: []